<a href="/" class="back-link" title="Go back to home page">Go back to home page</a>
<section class="movie">
  <h1>{{ movie.title }}</h1>
  <div class="intro">
    {{ movie.intro }}
  </div>
<img src="{{ movie.image.url }}" alt="{{ movie.title }}">
</section>